{% if page.use_math %}
  {% include mathjax_support.html %}
{% endif %}

<link rel="apple-touch-icon" sizes="180x180" href="{{site.url}}/assets/logo.ico/apple-touch-icon.webp">
<link rel="icon" type="image/png" sizes="32x32" href="{{site.url}}/assets/logo.ico/favicon-32x32.webp">
<link rel="icon" type="image/png" sizes="16x16" href="{{site.url}}/assets/logo.ico/favicon-16x16.webp">
<link rel="manifest" href="{{site.url}}/assets/logo.ico/site.webmanifest">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">